# My first notebook

In [3]:
import pandas as pd
pd.DataFrame({"x":[1,2,3],"y":[4,5,6]})

   x  y
0  1  4
1  2  5
2  3  6

In [4]:
# Tạo dữ liệu giả lập về một vài mẫu thí nghiệm
data = {
    'Mẫu': ['A', 'B', 'C', 'D', 'E'],
    'Nồng độ (M)': [0.1, 0.2, 0.15, 0.25, 0.05],
    'Nhiệt độ (C)': [25, 30, 25, 35, 30],
    'Trạng thái': ['Đạt', 'Đạt', 'Không đạt', 'Đạt', 'Không đạt']
}

df = pd.DataFrame(data)
df # Hiển thị bảng dữ liệu

  Mẫu  Nồng độ (M)  Nhiệt độ (C) Trạng thái
0   A         0.10            25        Đạt
1   B         0.20            30        Đạt
2   C         0.15            25  Không đạt
3   D         0.25            35        Đạt
4   E         0.05            30  Không đạt